<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts-online.ru/fonts/hellas-dust-cyrillic" rel="stylesheet" type="text/css">

    <link rel="shortcut icon" href="assets/ico/favicon.ico">

    <title>Sickers is my live</title>

    <link href="assets/css/bootstrap.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="assets/css/style.css" rel="stylesheet">

  </head>

  <body>
    <nav class="top-menu">
      <ul class="menu-main">
        <li><a href="" class="current">Каталог</a></li>
        <li><a href="">О нас</a></li>
        <li><a href="">Наши контакты</a></li> 
        <li><a><input type="checkbox" id="side-checkbox"/>
          <div class="side-panel">
              <label class="side-button-2" for="side-checkbox">+</label>    
              <div class="side-title">Ваша корзина:</div>
          <div id="mini-cart">
            
            <p>Пусто</p>
          
          
          </div>
          </div>
          <div class="side-button-1-wr">
              <label class="side-button-1" for="side-checkbox">
                  <div class="side-b side-open"><img src="assets/img/free-icon-shopping-basket-683578.png" class="cart"></div>
                  <div class="side-b side-close"><img src="assets/img/free-icon-shopping-basket-683578.png" class="cart"></div>
                  
              </label>
          </div></a></li>
      </ul>
    </nav>
	<div id="headerwrap">
	    <div class="container">
			<div class="row">

				<div class="col-lg-6">
					<h1>Стикеры - это <img src="assets/img/1.png" class="logo"> индивидуальность</h1> 
					<h4>Самовыражайтесь</h4>
				</div>
			</div> <! --/row -->
	    </div> <!-- /container -->
	</div> <! --/headerwrap -->
	
	<section id="works"></section>
	<div class="container">
		<div class="row centered mt mb">
	
      
	<div id="goods">
    

    
	</div>

		</div></div>
 

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
	<script src="assets/js/setting.js"></script>
	<script src="assets/js/root.js"></script>
  </body>
</html>
